<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sms_permiss">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:windowSoftInputMode="adjustNothing">

			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SENDTO" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="sms" />
				<data android:scheme="smsto" />
				<data android:scheme="mms" />
				<data android:scheme="mmsto" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".Show_detail_Activity"></activity>

		<receiver android:name=".BroadcastRecevier.SMS">
			<intent-filter android:priority="1000">
				<action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
			</intent-filter>
		</receiver>

		<service android:name=".Service.WindowService"></service>
	</application>

	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SMS"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
</manifest>
